<div class="board-column"
     cdkDropList
     [id]="column.id"
     [cdkDropListData]="(cards$ | async) || []"
     (cdkDropListDropped)="onCardDropped($event)">
  <div class="board-column-header">
    <div class="board-column-header-name">
      <span>{{column?.name}}</span>
      <span *ngIf="cards$ | async as cards">
        {{cards.length > 1 ? cards.length + ' issues' : cards.length + ' issue'}}
      </span>
    </div>
    <button class="square-button">
      <app-svg-icon name="threedot" [width]="32" [height]="24"></app-svg-icon>
    </button>
  </div>

  <div class="board-column-content">
    <app-board-card *ngFor="let card of (cards$ | async)"
                    cdkDrag
                    [cdkDragData]="card.id"
                    [card]="card"></app-board-card>
  </div>
  <div class="board-column-footer">
    <button class="btn-create-issue">
      <app-svg-icon name="plus"></app-svg-icon>
      <div>Create issue</div>
    </button>
  </div>
</div>
