<div class="board-heading">
    <nz-breadcrumb>
        <nz-breadcrumb-item>Projects</nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>Jira Clone</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="board-title">
        <h1 class="text-2xl font-medium">TEST board</h1>

        <div class="flex flex-row items-baseline">
            <button class="square-button">
                <app-svg-icon name="thunder" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
            </button>
            <button class="square-button mx-px">
                <app-svg-icon name="star" [width]="32" [height]="24"></app-svg-icon>
            </button>
            <button class="square-button">
                <app-svg-icon name="threedot" [width]="32" [height]="24"></app-svg-icon>
            </button>
        </div>
    </div>
</div>
