<button class="board-card" [ngClass]="{'opacity-50': loading}" (click)="onCardClick()">
  <div class="flex flex-row justify-between">
    <div class="board-card-name">{{card.title}}</div>
    <button class="square-button" nz-popover nzPopoverTrigger="click"
            [ngClass]="{'focused': contextMenuVisible}"
            nzPopoverOverlayClassName="card-context-menu"
            nzPopoverPlacement="bottomRight"
            [(nzPopoverVisible)]="contextMenuVisible"
            [nzPopoverContent]="contextMenuTemplate"
            (click)="$event.stopPropagation()">
      <app-svg-icon name="threedot" [width]="32" [height]="24"></app-svg-icon>
    </button>
  </div>

  <ng-container *ngIf="card.labels && card.labels.length > 0">
    <div class="flex gap-1 flex-wrap mt-2">
      <div class="label" *ngFor="let label of card.labels">{{label}}</div>
    </div>
  </ng-container>

  <div class="flex flex-row justify-between items-center w-full mt-4">
    <div class="flex flex-row font-medium items-start gap-1">
      <ng-container [ngSwitch]="card.type">
        <app-svg-icon *ngSwitchCase="CardTypes.TASK" name="blueCheck" [width]="16" [height]="16"></app-svg-icon>
        <app-svg-icon *ngSwitchCase="CardTypes.BUG" name="bug" [width]="16" [height]="16"></app-svg-icon>
        <app-svg-icon *ngSwitchCase="CardTypes.STORY" name="story" [width]="16" [height]="16"></app-svg-icon>
      </ng-container>
      <div class="uppercase text-xs text-textDark" *ngIf="card.ordinalId">
        {{card.type}}-{{card.ordinalId}}</div>
    </div>

    <div class="flex flex-row items-center gap-2">
      <app-svg-icon *ngIf="loading"
                    class="animate-spin"
                    name="circleIndicator"
                    fill="#fff">
      </app-svg-icon>

      <ng-container [ngSwitch]="card.priority">
        <app-svg-icon *ngSwitchCase="CardPriority.LOWEST" name="priorityLowest" [height]="16" [width]="16"
                      [nz-tooltip]="CardPriority.LOWEST"
                      fill="#0065ff"></app-svg-icon>
        <app-svg-icon *ngSwitchCase="CardPriority.LOW" name="priorityLow" [height]="16" [width]="16"
                      [nz-tooltip]="CardPriority.LOW"
                      fill="#0065ff"></app-svg-icon>
        <app-svg-icon *ngSwitchCase="CardPriority.MEDIUM" name="priorityMedium" [height]="16" [width]="16"
                      [nz-tooltip]="CardPriority.MEDIUM"
                      fill="#FFAB00"></app-svg-icon>
        <app-svg-icon *ngSwitchCase="CardPriority.HIGH" name="priorityHigh" [height]="16" [width]="16"
                      [nz-tooltip]="CardPriority.HIGH"
                      fill="#ff5630"></app-svg-icon>
        <app-svg-icon *ngSwitchCase="CardPriority.HIGHEST" name="priorityHighest" [height]="16" [width]="16"
                      [nz-tooltip]="CardPriority.HIGHEST"
                      fill="#ff5630"></app-svg-icon>
      </ng-container>

      <ng-container *ngIf="assignee$ | async as assignee">
        <app-avatar [user]="assignee" [size]="24"></app-avatar>
      </ng-container>
    </div>

  </div>
</button>


<ng-template #contextMenuTemplate>
  <div class="flex flex-col justify-start items-start w-36">
    <div class="px-3 py-1 text-xs text-textGray uppercase">Actions</div>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">Add flag</button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">Add label</button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">Add parent
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">Copy issue link
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">Delete</button>
    <div class="px-3 py-1 text-xs text-textGray uppercase">Move to</div>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">Bottom of column
    </button>
  </div>
</ng-template>
