<div class="card-details-modal" *ngIf="(selectedCard$ | async) as card">
  <div class="card-details-modal-header">
    <div class="flex flex-row items-center gap-2 ml-1.5">
      <div class="flex gap-1 items-center">
        <app-svg-icon name="thunk" [width]="20" [height]="20"></app-svg-icon>
        <a class="text-textGray uppercase text-xs">Angular Jira Clone</a>
      </div>
      <div>/</div>
      <div class="flex gap-1 items-center">
        <ng-container [ngSwitch]="card.type">
          <app-svg-icon *ngSwitchCase="CardTypes.TASK" name="blueCheck" [width]="20" [height]="20"></app-svg-icon>
          <app-svg-icon *ngSwitchCase="CardTypes.BUG" name="bug" [width]="20" [height]="20"></app-svg-icon>
          <app-svg-icon *ngSwitchCase="CardTypes.STORY" name="story" [width]="20" [height]="20"></app-svg-icon>
        </ng-container>
        <a class="text-textGray uppercase text-xs">{{card.type}}-{{card.ordinalId}}</a>
      </div>
    </div>
    <div class="actions">
      <button class="square-button flex items-center" nz-tooltip nzTooltipTitle="Watch options">
        <app-svg-icon name="eye" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
        <span class="pr-1.5">1</span>
      </button>

      <button class="square-button" nz-tooltip nzTooltipTitle="Vote options">
        <app-svg-icon name="thumbup" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

      <button class="square-button">
        <app-svg-icon name="share" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

      <button class="square-button"
              nz-tooltip nzTooltipTitle="Actions"
              nz-popover nzPopoverTrigger="click"
              [ngClass]="{'focused': contextMenuVisible}"
              nzPopoverOverlayClassName="card-details-context-menu"
              nzPopoverPlacement="bottomRight"
              [(nzPopoverVisible)]="contextMenuVisible"
              [nzPopoverContent]="contextMenuTemplate">
        <app-svg-icon name="threedot" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

      <button class="square-button" (click)="onCloseModal()"
              nz-tooltip nzTooltipTitle="Close">
        <app-svg-icon name="close" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

    </div>
  </div>
  <div class="card-details-modal-content">
    <div class="w-3/5 mt-4 pr-4 overflow-auto">
      <app-card-descriptions-panel></app-card-descriptions-panel>
    </div>
    <div class="w-2/5 mt-4 overflow-auto">
      <app-card-details-panel></app-card-details-panel>
    </div>
  </div>
</div>


<ng-template #contextMenuTemplate>
  <div class="flex flex-col justify-start items-start w-42">
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Log work
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Add flag
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Connect to Slack channel
    </button>
    <nz-divider class="my-1"></nz-divider>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Add parent
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Move
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Clone
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Delete
    </button>
    <nz-divider class="my-1"></nz-divider>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Actions menu
    </button>
    <nz-divider class="my-1"></nz-divider>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Print
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Export XML
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Export Word
    </button>
    <nz-divider class="my-1"></nz-divider>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Open issues in sidebar
    </button>
    <button (click)="onContextMenuClick()" class="w-full text-left px-3 py-1 hover:bg-backgroundDark">
      Configure
    </button>

  </div>
</ng-template>

<ng-container *ngIf="!(selectedCard$ | async)">
  <app-card-details-loader></app-card-details-loader>
</ng-container>


