<div class="card-details-modal" *ngIf="selectedCard$ | async as card">
  <div class="card-details-modal-header">
    <div class="flex flex-row items-center gap-2 ml-1.5">
      <div class="flex gap-1 items-center">
        <app-svg-icon name="thunk" [width]="20" [height]="20"></app-svg-icon>
        <a class="text-textGray uppercase text-xs">Demo Epic</a>
      </div>
      <div>/</div>
      <div class="flex gap-1 items-center">
        <app-svg-icon name="bookmark" [width]="20" [height]="20"></app-svg-icon>
        <a class="text-textGray uppercase text-xs">{{environment.boardName}}-{{card.ordinalId}}</a>
      </div>
    </div>
    <div class="actions">
      <button class="square-button flex items-center">
        <app-svg-icon name="eye" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
        <span class="pr-1.5">1</span>
      </button>

      <button class="square-button">
        <app-svg-icon name="thumbup" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

      <button class="square-button">
        <app-svg-icon name="share" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

      <button class="square-button">
        <app-svg-icon name="threedot" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

      <button class="square-button" (click)="onCloseModal()">
        <app-svg-icon name="close" [width]="32" [height]="24" fill="#fff"></app-svg-icon>
      </button>

    </div>
  </div>
  <div class="card-details-modal-content">
    <div class="w-3/5 pr-6 mt-4">
      <app-card-descriptions-panel></app-card-descriptions-panel>
    </div>
    <div class="w-2/5 pl-4 mt-4">
      <app-card-details-panel></app-card-details-panel>
    </div>
  </div>
</div>

