<div class="card-column-dropdown">
  <nz-select [nzCustomTemplate]="defaultTemplate" [nzDropdownMatchSelectWidth]="false"
             [nzDropdownRender]="renderTemplate"
             nzBorderless
             [nzSuffixIcon]="customDropdownIcon"
             [formControl]="columnControl"
             class="w-auto rounded"
             [style.background-color]="getColumnDropdownBackgroundColor()"
             [style.color]="getColumnDropdownColor()">
    <nz-option nzCustomContent [nzLabel]="c.name" [nzValue]="c.id"
               *ngFor="let c of columns">
      <div class="w-48">
              <span class="uppercase bg-blue-500 rounded px-1 py-0 text-xxs font-medium leading-none"
                    [ngStyle]="{'backgroundColor': c.bgBadge, 'color': c.textColor}">
              {{c.name}}
            </span>
      </div>
    </nz-option>
  </nz-select>

  <ng-template #renderTemplate>
    <button class="border-t border-gray-550 px-4 py-2 w-full text-left">
      View workflow
    </button>
  </ng-template>

  <ng-template #defaultTemplate let-selected>
    <div class="bg-transparent capitalize font-medium">{{selected.nzLabel.toLowerCase()}}</div>
  </ng-template>

  <ng-template #customDropdownIcon>
    <app-svg-icon [style.color]="getColumnDropdownColor()" name="arrowDown" [width]="24"
                  [height]="24"></app-svg-icon>
  </ng-template>
</div>
<nz-collapse class="mt-4 card-details-panel rounded">
  <nz-collapse-panel
    [nzShowArrow]="false"
    [nzHeader]="header"
    [nzActive]="true">
    <div class="flex gap-4 flex-col" *ngIf="card">
      <div class="detail-item">
        <div class="title">Assignee</div>
        <app-card-assignee class="w-full"
                           [users]="users$ | async"
                           [cardId]="card.id"
                           [assignee]="assignee$ | async"
                           (updateAssignee)="onUpdateCard($event)">
        </app-card-assignee>
      </div>

      <div class="detail-item">
        <div class="title">Priority</div>
        <app-card-priority class="w-full"
                           [cardId]="card.id"
                           [priority]="card.priority"
                           (updatePriority)="onUpdateCard($event)">
        </app-card-priority>
      </div>

      <div class="detail-item items-start">
        <div class="title">Labels</div>
        <app-card-label class="w-full"
                        [labels]="card.labels"
                        [availableLabels]="labels$ | async"
                        [cardId]="card.id"
                        (updateLabels)="onUpdateCard($event)">
        </app-card-label>
      </div>

      <div class="detail-item items-start">
        <div class="title">Start date</div>
        <app-card-start-date class="w-full"
                             [startDate]="card.startDate"
                             [cardId]="card.id"
                             (updateStartDate)="onUpdateCard($event)">
        </app-card-start-date>
      </div>

      <div class="detail-item items-start">
        <div class="title">Due date</div>
        <app-card-due-date class="w-full"
                           [dueDate]="card.dueDate"
                           [cardId]="card.id"
                           (updateDueDate)="onUpdateCard($event)">
        </app-card-due-date>
      </div>

      <div class="detail-item">
        <div class="title">Reporter</div>
        <app-card-reporter class="w-full"
                           [users]="users$ | async"
                           [cardId]="card.id"
                           [reporter]="reporter$ | async"
                           (updateReporter)="onUpdateCard($event)">
        </app-card-reporter>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<div class="flex justify-between items-center">
  <div class="mt-4 text-textGray text-xs flex flex-col gap-1">
    <div>
      Created {{card?.createdAt | date:'medium'}}
    </div>

    <div>
      Updated {{card?.updatedAt | date: 'medium'}}
    </div>
  </div>
  <button class="square-button flex p-1 text-textDark font-medium">
    <app-svg-icon name="config" [width]="24" [height]="24"></app-svg-icon>
    Configure
  </button>
</div>

<ng-template #header>
  <div class="w-full flex justify-between font-medium text-textDark">
    Details
    <app-svg-icon name="arrowDown" class="inline-block" [width]="24" [height]="24"></app-svg-icon>
  </div>
</ng-template>
